.trendyPosts .swiper {
    overflow: visible;
}
.trendyPosts .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: rgba(128, 128, 128, 0.123);
    border-radius: 12px;
    top: -2.5rem;
    left: 94.1%;
    transform: translateX(-50%);
}
.trendyPosts .swiper-button-prev:after, .swiper-button-next:after {
    content: 'prev';
    font-size: .8rem;
    font-weight: 600;
    color: black;
}
.trendyPosts .swiper-button-next{
    width: 40px;
    height: 40px;
    background: rgba(128, 128, 128, 0.123);
    border-radius: 12px;
    top: -2.5rem;
    right: 0;
}
.trendyPosts .swiper-button-next:after {
    content: 'next';
    font-size: .8rem;
    font-weight: 600;
    color: black;
}




 @media (min-width:320px)and (max-width:575.99px){
    .trendyPosts .swiper-slide {
         width: 100% !important;
       }
  .trendyPosts .swiper-button-prev {
    left: 74.1%;
    top: -2rem;
    transform: translateX(-50%);
}
    .trendyPosts .swiper-button-next {
        top: -2rem;
    }

 }
 @media (min-width:576px)and (max-width:767.99px){
    .trendyPosts .swiper-slide {
         width: 70% !important;
       }
       .trendyPosts .swiper-button-prev {
        left: 86.1%;
        top: -2rem;
        transform: translateX(-50%);
    }
    .trendyPosts .swiper-button-next {
        top: -2rem;
    }

 }
 @media (min-width:768px)and (max-width:992px){
    .trendyPosts .swiper-slide {
         width: 60% !important;
       }
       .trendyPosts .swiper-button-prev {
        left: 86.1%;
        transform: translateX(-50%);
    }
       .trendyPosts .swiper  {
        padding: 0 7px;
    }
 }
 @media (min-width:1024px){
    .trendyPosts .swiper-button-prev {
     left: 91.1%;
     transform: translateX(-50%);
 }
    .trendyPosts .swiper  {
     padding: 1rem 7px;
 }
}
 @media (min-width:1280px){
    .trendyPosts .swiper-button-prev {
     left: 93.1%;
     transform: translateX(-50%);
 }
    .trendyPosts .swiper  {
     padding: 1rem 7px;
 }
}